.app-container {
  display: flex;
  min-height: 100vh; /* Full viewport height, adjusts dynamically */
  background: linear-gradient(135deg, #7e57c2, #42a5f5);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.sidebar-left {
  flex: 0 0 15%; /* 15% of the width */
  display: flex;
}

.chat-interface {
  flex: 1; /* Takes up the remaining width */
  display: flex;
}

.sidebar-right-right {
  margin-top: 50px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
}
